{% extends "sub_adjuster/base.html" %}


    {% block user_content %}


        <p>jeb {{ post_data }}</p>
        <div class="container">
            <div class="jumbotron">
            <div class="row">

                <div class="col-md-6">

                    <div class="sub_guts" >
                            {% for index, line in base_file_lines %}

                            <div class="ui-draggable">
                                {{ line|linebreaks }}
                            </div>
                            {% endfor %}
                    </div>
                </div>

                <div class="col-md-6">

                    <div class="sub_guts" >
                            {% for index, line in blueprint_file_lines %}

                            <div class="ui-draggable">

                                {{ line|linebreaks }}

                            </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
            </div>


            <div class="jumbotron">
                <form method="POST" action=""> {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6" id="base" >
                            <div class="ui-droppable">
                                {{sub_base_form.line_A.as_hidden}}
                            </div>
                            <div class="ui-droppable">
                                {{sub_base_form.line_B.as_hidden}}
                            </div>
                            <div class="ui-droppable">
                                {{sub_base_form.line_C.as_hidden}}
                            </div>


                        </div>
                        <div class="col-md-6" id="blueprint">
                            <div class="blueprint">

                               <div class="ui-droppable">
                                    {{sub_blueprint_form.line_A.as_hidden}}
                                </div>
                                <div class="ui-droppable">
                                    {{sub_blueprint_form.line_B.as_hidden}}
                                </div>
                                <div class="ui-droppable">
                                    {{sub_blueprint_form.line_C.as_hidden}}
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <input type="submit" value="Submit Lines!" name="base_sub_button" class="btn btn-default btn-lg btn-block"/>
                    </div>
                </form>


        </div>
</div>


    {% endblock %}