{% extends "sub_adjuster/base.html" %}

    {% block user_content %}


        <p>eb aa {{ file_name }} jeb</p>


        <div class="sub_guts">
            <ul>
                {% for index, line in file_lines %}

                <div id="draggable{{ index }}" class="ui-draggable">

                    <li>{{ line|linebreaks }}</li>

                </div>
                {% endfor %}
            </ul>
        </div>

        <div class="sub_guts">
            <ul>
                {% for line in file_lines %}
                <li>{{ line|linebreaks }}</li>
                {% endfor %}
            </ul>
        </div>

        <div id="droppable" class="ui-droppable">
             <p>Drop here</p>
        </div>

        <p>{{ sub_base_form.html_name }},
        {{ field.id_for_label }}
        </p>
        <div class="sub_form">


            <form method="POST" action=""> {% csrf_token %}
                {{sub_base_form.as_p}}
                <!--<input type="submit" value="Add Goal"/>-->

            </form>

        </div>
        <div class="sub_form">
             <form method="POST" action=""> {% csrf_token %}
                {{sub_blueprint_form.as_p}}
                <!--<input type="submit" value="Add Goal"/>-->

            </form>
        </div>
        <div class="par_form">
            <form method="POST" action=""> {% csrf_token %}
                {{par_form.as_p}}
                <!--<input type="submit" value="Add Goal"/>-->

        </div>



    {% endblock %}
