.navbar {
    background: #21382E;
    height: 60px;
    color: white;

}
li {
    background: #89E8BF;
}

.sub_guts {

    height: 350px;
    width: 500px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    padding: 6px;
    overflow: auto;
    display: inline-block;
}
.sub_form {
    display: inline-block;


}
.ui-droppable {
    height: 100px;
    width: 500px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    padding: 6px;
    overflow: auto;
    display: inline-block;
}
.ui-droppable {

}

.ui-draggable {
    background: #0E7F73;
}
